html, body {
    margin: 0;
    padding: 0;
}

.body {
    flex: 1;
    display: flex;
}

.header, .subheader1 {
    display: flex;
    list-style: none;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}

.left-header {
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.right-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}

.subheader1 {
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
}

.right-side {
    width: 400px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.mainsecondary {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}

button {
    padding: 8px 24px;
    border-radius: 8px;
}

.signup, .signup2 {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

.signup2 {
    background-color:#3882f6;
    border: 1px solid white
}

.headerimg {
    width: 500px;
    height: 350px;
}

.subheader2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 32px;
}

img {
    width: 250px;
}

.pictures {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    padding-bottom: 100px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    padding: 10px 250px;
    max-width: 750px;
}

.speaker {
    display: flex;
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.CTA {
    display: flex;
    background:#3882f6;
    padding: 50px 100px;
    border-radius: 10px;
    gap: 16px;
}

.left {
    display: flex;
    flex-direction: column;
    color: white
}

.bold {
    font-weight: bolder;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #1f2937;
    color: white;
}